<div
  class="relative flex xsm:flex-wrap lg:flex lg:flex-nowrap xl:flex-nowrap xxl:flex-nowrap gap-2 justify-evenly bg-hero-pattern"
>
  <div class="flex flex-col lg:w-9/12 justify-center items-center mx-16">
    <img
      src="../../../assets/dfd 1.png"
      alt=""
      class="object-contain mt-5 xsm:w-72 lg:w-96"
    />
  </div>
  <div class="flex flex-col justify-center items-center pt-10 mt-7">
    <h2>Hey I'm</h2>
    <h2
      class="text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
    >
      SREEHARI
    </h2>
    <h2 class="my-3 hover:text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 transition duration-200 ease-in-out">Developer -  Designer - Learner</h2>

    <div class="p-5 sm:w-100 text-center lg:w-9/12">
      <p class="object-contain text-lg">
        I'm a web developer with a passion for creating beautiful and functional
        websites. I'm currently working as a full stack developer. but I'm also
        learning and building my skills in various technologies.
      </p>
    </div>
  </div>
</div>
