<!-- bottom nav -->
<nav
  class="shadow w-full h-13 bg-slate-100 sticky bottom-0 pt-3 lg:hidden xl:hidden"
>
  <div class="flex flex-row justify-evenly">
    <div>
      <a
        href=""
        class="flex flex-col items-center hover:text-yellow-500 transition duration-150"
      >
        <fa-icon [icon]="faLightbulb" class="fa-xl"></fa-icon>
        <h2 class="p-3 font-light text-sm">Projects</h2>
      </a>
    </div>
    <div>
      <a
        href=""
        class="flex flex-col items-center hover:text-blue-500 transition duration-150"
      >
        <fa-icon [icon]="faFeather" class="fa-xl"></fa-icon>

        <h2 class="p-3 font-light text-sm">Blog</h2>
      </a>
    </div>
    <div>
      <a
        href=""
        class="flex flex-col items-center hover:text-red-500 transition duration-150"
      >
        <fa-icon [icon]="faUserAstronaut" width="44" class="fa-xl"></fa-icon>
        <h2 class="p-3 font-light text-sm">Contact</h2>
      </a>
    </div>
  </div>
</nav>
