<div class="bg-hero-pattern">
  <h2
    class="text-xl text-center pt-5 hover:text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 transition duration-200 ease-in-out"
  >
    Experience
  </h2>
  <div class="flex p-9 xsm:flex-wrap lg:flex-nowrap gap-x-5 gap-y-5">
    <div
      class="p-2 bg-white rounded-md shadow-sm hover:shadow-xl transform duration-150 cursor-pointer space-y-3"
    >
      <div class="flex justify-between">
        <h2 class="text-sm">CodeRythm</h2>
        <h2 class="text-xs">April 2021 - Sept 2021</h2>
      </div>
      <h2 class="text-sm">Quality Analyst Engineer</h2>
      <p class="text-xs">
        Coderythm Technology is a banglore based startup company that offers
        software development and IT services. They specialises in mobile and web
        app development and services in E-commerce and logistics.
      </p>
    </div>
    <div
      class="p-2 bg-white rounded-md shadow-sm hover:shadow-xl transform duration-150 cursor-pointer space-y-3"
    >
      <div class="flex justify-between">
        <h2 class="text-sm">Kiebot</h2>
        <h2 class="text-xs">Sept 2021 - Nov 2021</h2>
      </div>
      <h2 class="text-sm">UI/UX Designer</h2>
      <p class="text-xs">
        Kiebot Learning Solutions is a kannur based startup company that offers
        software development and IT services. They specialises in mobile and web
        app development and services in E-learning, E-commerce and hospitality.
      </p>
    </div>
    <div
      class="p-2 bg-white rounded-md shadow-sm hover:shadow-xl transform duration-150 cursor-pointer space-y-3"
    >
      <div class="flex justify-between">
        <h2 class="text-sm">Experion</h2>
        <h2 class="text-xs">Dec 2021 - Present</h2>
      </div>
      <h2 class="text-sm">Software Engineer</h2>
      <p class="text-xs">
        Experion Technologies is a 14+ year old IT solutions & services company
        with a focus on digital technologies. With over 300 customers across 32
        countries, Experion uses the power of Mobile, Web, Analytics, Cloud, and
        Digital technologies to unlock the potential of businesses across
        verticals.
      </p>
    </div>
  </div>
</div>
